{% extends "base.html" %}

{% block content %}
<p>Я рада, что вы выбрали посмотреть на моего котика! Его зовут Лёва. </p>

<p align = "center"><img src = 'pics/leva.jpg' width = "640" height = "480"></p>
<p> Здесь мама накормила Леву борщом. По усам текло, а в рот не попало. </p>
<p align = "center"><img src = 'pics/leva1.jpg' width = "360" height = "640"></p>
<p> А тут он гуляет на даче. </p>
<p align = "center"><img src = 'pics/leva2.jpg' width = "640" height = "480"></p>
<p> Набегался на даче, отдыхает. </p>
<p align = "center"><img src = 'pics/leva3.jpg' width = "640" height = "638"></p>
<p> Стесняется. </p>
<p align = "center"><img src = 'pics/leva4.jpg' width = "452" height = "640"></p>
<p> Любит так сложить лапки и за всеми наблюдать. </p>
<p align = "center"><img src = 'pics/leva5.jpg' width = "480" height = "640"></p>
<p> Тут мы только его взяли к себе и искупали. Грустный и маленький. </p>
<p align = "center"><img src = 'pics/leva6.jpg' width = "640" height = "480"></p>
<p> Устал учиться (как и мы).. </p>
<p align = "center"><img src = 'pics/leva7.jpg' width = "360" height = "640"></p>
<p> Грозно смотрит в камеру. Играли в догонялки. </p>
<p align = "center"><img src = 'pics/neleva.jpg' width = "735" height = "649"></p>
<p> Надеюсь вы долистали до конца и Лева вам понравился. Пожалуйста, напишите мне в Discord, буду ждать ваших комментариев! </p>
{% endblock %}
